services:
  mongodb:
    image: mongo:7.0
    container_name: spring-boot-4-poc-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: spring-boot-4-poc
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongodb_data:
    driver: local
