services:
  mongodb:
    image: mongo:7.0
    container_name: spring-boot-4-poc-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: spring-boot-4-poc
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  sonarqube:
    image: sonarqube:10.5.1-community
    container_name: spring-boot-4-poc-sonarqube
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs
      - sonar_extensions:/opt/sonarqube/extensions

volumes:
  mongodb_data:
    driver: local
  sonar_data:
    driver: local
  sonar_logs:
    driver: local
  sonar_extensions:
    driver: local
